<h1>Say Goodbye!</h1>
<p>It was nice having you here.</p>

<p>Time to say <%= link_to "Hello", say_hello_path %></p>

<ul>
<% @files.each do |file| %>
  <li>File name is : <%= file %></li>
<% end %>
</ul>